.navbar-logo img {
	max-width: 90%;
}
.dropdown-toggle::after {
	content: none;
}
.mr-auto {
	margin-left: 3rem;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #f8f9fa !important;
}
.navbar-light .navbar-nav .nav-link {
	color: #f8f9fa !important;
	font-family: Montserrat, sans-serif !important;
	font-weight: 500 !important;
	font-style: normal !important;
	transition: color 0.2s ease-in-out !important;
	letter-spacing: 0.1em !important;
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		font-size: 12px;
		margin-right: 10px;
		margin-left: 10px;
	}
}
.dropdown-menu {
	margin: 0px !important;
	position: absolute !important;
	top: 100% !important;
	padding: 25px 0 !important;
	min-width: 200px !important;
	max-width: 270px !important;
	width: -webkit-max-content !important;
	width: -moz-max-content !important;
	width: max-content !important;
	text-align: left !important;
	background: #1e1e1e !important;
	border: 1px solid #404040 !important;
	border-top: 2px solid #fff !important;
	border-radius: 0px !important;
	transition: all 0.3s ease-in-out !important;
}
.dropdown-item {
	font-family: Montserrat, sans-serif !important;
	font-weight: 500 !important;
	font-size: 12px !important;
	color: #fff !important;
	display: flex !important;
	position: relative !important;
}
.arrow-icon {
	position: absolute;
	right: 10px;
	display: flex;
	top: 10px;
}
.dropdown-item:hover {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}
.nav-link {
	display: block;
	padding: .05rem 1rem;
}
.arrow {
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2.75px 2.75px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.inner-item {
	border-top: none;
}
.Icon-nav {
	height: 14px;
	width: 20px;
	color: #fff;
}
@media (max-width: 768px) {
	.navbar-light .navbar-nav .nav-link:focus,
	.navbar-light .navbar-nav .nav-link:hover {
		color: #fff;
	}
	.nav-link {
		color: #f8f9fa;
		font-family: Montserrat, sans-serif;
		font-weight: 500;
		font-style: normal;
		transition: color 0.2s ease-in-out;
		letter-spacing: 0.1em;
		font-size: 14px;
		padding: 10px;
	}
	.dropdown-item.active,
	.dropdown-item:active {
		color: #fff;
		text-decoration: none;
		background-color: #1e1e1e;
	}
}
.collapse.show {
	background-color: #1e1e1e;
}
.dropdown-item:active {
	text-decoration: none;
	background-color: #1e1e1e;
}
.navbar-toggler {
	background-color: #fff !important;
}
button:focus {
	outline: none;
}
.nav-link {
	color: #f8f9fa !important;
}
