@media (min-width: 768px) {
	.five-cols .col-md-1,
	.five-cols .col-sm-1,
	.five-cols .col-lg-1 {
		max-width: 100%;
		*width: 100%;
		flex: 0 0 20%;
	}
}
@media (max-width: 640px) {
	.five-cols .col-sm-1 {
		max-width: 20%;
	}
}
@media (min-width: 992px) {
	.five-cols .col-md-1,
	.five-cols .col-sm-1,
	.five-cols .col-lg-1 {
		max-width: 20%;
		*width: 20%;
	}
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
	.five-cols .col-md-1,
	.five-cols .col-sm-1,
	.five-cols .col-lg-1 {
		width: 20%;
		*width: 20%;
	}
}
